<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymer-themes/ice.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">

<dom-module id="difficulty-selector-5-hso">
  <template>
    <style>
       :host {
        display: block;
        width: 100%;
        height: 100%;
        --paper-radio-button-label-color: white;
        --paper-radio-button: {
          color: white;
        };
      }

      .title {
        font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 2em;
        padding-top: 0%;
        padding-bottom: 2%;
        text-align: left;
        font-weight: 400;
        /*text-shadow: 1px 1px 2px #346da3; */
      }

      .radiobuttons {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        font-size: 20px;
        text-align: left;
        color: white;
      }

      .subtext {
        width: 60%;
        font-size: 1.5em;
        font-weight: 100;
        font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        margin: 0 0 0 0%;
        text-align: left;
      }

      .radiobutton {
        color: white;
      }

      .papercard {
        margin-top: 30px;
        border-radius: 20px;
      }
      .icon_image {

      }
      .nudge_fade_image {
        margin-top: 1%;
        margin-bottom: 5%;
        width: 15%;
        padding-left: 0;

      }
      .nudge_notif_image {
        margin-top: 1%;
        width: 15%;
        padding-left: 0;
        margin-bottom: 5%;
      }
      .verticalLine {
        border-right: solid white;
      }
      .half {
        height: 50%;
        width: 30%;
        justify-content: space-between;
        position: fixed;
        margin-top: 10%;
        overflow: scroll;
        padding-left: 25%;
        text-align: left;
      }
      .half::-webkit-scrollbar {
        display: none;
      }
      .right-side{
        right:0;
        padding-right: 20%;
      }
      .left-side{
        left: 0;
        padding-left: 30%;
      }

      .row {
          display: flex;
          padding-top: 2%;
        }

      .column {
          float: left;
          padding: 1%;
          height: 600px
        }

        .left {
          width: 20%;
          padding-top: 2%;
          margin: auto;
          border-right: 2px solid white;
          align-items: center;
          text-align: left;
        }

        .right {
          width: 70%;
          padding: 0;
        }
        .panel_content_left {
          padding-top: 10%;
          margin: auto;
          align-items: center;
          text-align: left;
        }

        .panel_content_right {
          padding-top: 0%;
        }


    </style>

    <div class="row">
      <div class="column left">
        <div class="panel_content_left">
          <img class="icon_image" src="icons/Unstuck_icons/num_icon_3.svg"/>
          <div class="title">The Unstuck icon will change throughout the day.</div> 
        </div>
      </div>
      <div class="column right">
        <div class="panel_content_right">
            <div class="half left-side">
              <img class="nudge_fade_image" src="icons/HSO_icons/HSO-icon-nudge.gif">
              <div class="title">Nudge</div>
        
              <div class="subtext"><br>Changing colors means you may need an intervention <br> when you have lowered your creative power. <br><br> Click the icon and start an intervention.</div>
            </div>
            <div class="half right-side" >
              <img class="nudge_notif_image" src="icons/Unstuck_icons/icon_notif.svg">
              <div class="title">Notification</div>
              <div class="subtext"><br>A red circle means there is a research survey available.  <br><br> Please click the icon and complete these surveys when they appear. </div>
            </div>

        </div>
      </div>
    </div>

  </template>
  <script src="difficulty-selector-5-hso.js"></script>
</dom-module>
