<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymer-themes/ice.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">

<dom-module id="difficulty-selector-hso">
  <template>
    <style>
       :host {
        display: block;
        width: 100%;
        height: 100%;
        --paper-radio-button-label-color: white;
        --paper-radio-button: {
          color: white;
        };
      }

      .title {
        font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 30px;
        padding-top: 2%;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        font-weight: 400;
        /*text-shadow: 1px 1px 2px #346da3; */
      }

      .radiobuttons {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        font-size: 20px;
        text-align: left;
        color: white;
      }

      .subtext {
        font-size: 20px;
        padding: 2% 5% 0 5%;
        font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      }

      .nudge_fade_image {
        margin-top: 1%;
        margin-bottom: 1%;
        width: 10%;
      }

      .radiobutton {
        color: white;
      }

      .papercard {
        align-items: center;
        margin: auto;
        border-radius: 30px;
        width: 50%;
        margin-bottom: 5%;
        min-width: 20%;
        color: white;
      }

    </style>

    <div class="title">How often would you like to get a nudge?</div>
    <img class="nudge_fade_image" src="icons/HSO_icons/HSO-icon-nudge.gif">
    <div class="subtext">The Unstuck icon will change colors to signal when you should click it to get an intervention.</div>

    <div class="papercard">
      <paper-radio-group attr-for-selected="value" on-selected-changed="selectedNudgechanged" class="radiobuttons" id="difficultyradiogroup">
        <paper-radio-button name="button1" on-keydown="ignore_keydown" class="radiobutton" value=1><strong>1x a day</strong></paper-radio-button><br>
        <paper-radio-button name="button2" on-keydown="ignore_keydown" class="radiobutton" value=2><strong>2x a day</strong></paper-radio-button><br>
        <paper-radio-button name="button3" on-keydown="ignore_keydown" class="radiobutton" value=3><strong>3x a day</strong></paper-radio-button><br>
      </paper-radio-group>
    </div>



  </template>
  <script src="difficulty-selector-hso.js"></script>
</dom-module>
