<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymer-themes/ice.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">

<dom-module id="onboarding-timing-questions">
  <template>
    <style>
       :host {
        display: block;
        width: 100vw;
        height: 100vh;
        --paper-radio-button-label-color: white;
        --paper-radio-button: {
          color: white;
          background-color: white;
          border-color: white;
        };
      }

      .title {
        font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 2em;
        text-align: left;
        font-weight: 400;
        display: block;
        /*text-shadow: 1px 1px 2px #346da3; */
      }

      .radiobuttons {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        font-size: 20px;
        text-align: left;
        color: white;
      }
      .subtitle {
        font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 2em;
        text-align: left;
        font-weight: 200;
        display: block;
        padding-top: 5%;
      }

      .subtext {
        font-size: 1.5em;
        font-weight: 100;
        font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        margin: auto;
        align-items: center;
        text-align: left;
        padding-top: 5%;
      }

      .radiobutton {
        --paper-radio-button-checked-color: white;
        --paper-radio-button-unchecked-color: white;
        --paper-radio-button-label-color: white;
        --paper-radio-button-label: {
          color: white;
        };
        color: white !important;
      }

      .questions {
        color: white;
        border-radius: 20px;
      }
      .icon_image {
        width: 20%;
        padding-left: 0;
        align-items: left;
        display: flex;
      }

      .verticalLine {
        border-right: solid white;
      }

      .half {
        height: 50%;
        width: 30%;
        justify-content: space-between;
        position: fixed;
        overflow: scroll;
        padding-left: 25%;
        text-align: left;
      }
      .half::-webkit-scrollbar {
        display: none;
      }
      .right-side{
        right:0;
        padding-right: 20%;
      }
      .left-side{
        left: 0;
        padding-left: 30%;
      }

      .row {
          display: flex;
          padding-top: 5%;
        }

      .column {
          float: left;
          padding: 0%;
          height: 600px

        }

        .left {
          width: 20%;
          padding-top: 0%;
          margin-left: 5%;
          border-right: 2px solid white;
          align-items: center;
          text-align: left;
        }

        .right {
          width: 80%;
          padding: 0;
        }
        .panel_content_left {
          padding-top: 10%;
          margin: auto;
          align-items: center;
          text-align: left;
        }

        .panel_content_right {
          padding-top: 0%;
        }

        .right_columns {
            display: flex;
            justify-content: space-between;
            gap: 5%;
            padding: 2%;
            color: white;
            font-family: 'Inter', sans-serif;
            padding-top: 2%;

        }
        .right_column {
            flex: 1;
            max-width: 300px;
        }

      paper-radio-button::shadow #radioLabel {
        color: white !important;
      }

      paper-radio-button::shadow #offRadio {
        border-color: white !important;
      }

      paper-radio-button::shadow #onRadio {
        background-color: white !important;
      }

      paper-radio-button /deep/ #offRadio {
        border-color: white !important;
      }

      paper-radio-button /deep/ #onRadio {
        background-color: white !important;
      }

    </style>

    <div class="row"> 
      <div class="column left">
        <div class="panel_content_left">
          <img class="num_icon_image" src="icons/Unstuck_icons/num_icon_5.svg"/>
          <div class="title">Time Settings</div> 
        </div>
      </div>

      <div class="right_columns">
        <div id="nudge_question" class="right_column">         
                <img class="icon_image" src="icons/HSO_icons/HSO-icon-nudge.gif">
                <div class="subtitle">How often would you like a nudge?</div>
                <div class="subtext"><br>The Unstuck icon will change colors to signal when you should click it to get an intervention.</div>
                <div class="questions">
                <paper-radio-group selected="3" attr-for-selected="value" on-selected-changed="selectedNudgechanged" class="radiobuttons" id="difficultyradiogroup">
                    <paper-radio-button name="button1" on-keydown="ignore_keydown" class="radiobutton" value=1>1x a day</paper-radio-button><br>
                    <paper-radio-button name="button2" on-keydown="ignore_keydown" class="radiobutton" value=2>2x a day</paper-radio-button><br>
                    <paper-radio-button name="button3" on-keydown="ignore_keydown" class="radiobutton" value=3>3x a day</paper-radio-button><br>
                </paper-radio-group>
                </div>

        </div>
        <div id="night_question" class="right_column" >
                <img class="icon_image" src="icons/Unstuck_icons/unstuck_moon.svg">
                <div class="subtitle">Night time</div>
                <div class="subtext">We’ll limit social interventions and send sleep-related ones during this time. </div>
                <div class="questions">
                  <paper-radio-group selected="8" on-selected-changed="selectedNighttimechanged" attr-for-selected="value" class="radiobuttons" id="nighttimeradiogroup">
                    <paper-radio-button name="button1" value=6 on-keydown="ignore_keydown" class="radiobutton" >After 6pm</paper-radio-button><br>
                    <paper-radio-button name="button2" value=7 on-keydown="ignore_keydown" class="radiobutton" >After 7pm</paper-radio-button><br>
                    <paper-radio-button name="button3" value=8 on-keydown="ignore_keydown" class="radiobutton" >After 8pm</paper-radio-button><br>
                    <paper-radio-button name="button4" value=9 on-keydown="ignore_keydown" class="radiobutton" >After 9pm</paper-radio-button><br>
                    <paper-radio-button name="button5" value=10 on-keydown="ignore_keydown" class="radiobutton" >After 10pm</paper-radio-button><br>
                    <paper-radio-button name="button6" value=11 on-keydown="ignore_keydown" class="radiobutton" >After 11pm</paper-radio-button><br>
                    <paper-radio-button name="button7" value=12 on-keydown="ignore_keydown" class="radiobutton" >After midnight</paper-radio-button><br>
                  </paper-radio-group>
                </div>
        </div>
        <div id="location_question" class="right_column" >
                <img class="icon_image" src="icons/Unstuck_icons/icon_notif.svg">
                <div class="subtitle">Location</div>
                <div class="subtext">What is the general setting for this browser? This will help us recommend better interventions</div>

                <div class="questions">
                    <paper-radio-group selected="work" attr-for-selected="value" on-selected-changed="selectedLocationchanged" class="radiobuttons" id="locationradiogroup">
                      <paper-radio-button name="work" value="work" on-keydown="ignore_keydown" class="radiobutton" >Work / Office</paper-radio-button><br>
                      <paper-radio-button name="home" value="home" on-keydown="ignore_keydown" class="radiobutton" >Home / Personal</paper-radio-button><br>
                      <paper-radio-button name="both" value="both" on-keydown="ignore_keydown" class="radiobutton" >Both</paper-radio-button><br>
                      <paper-radio-button name="other" value="other" on-keydown="ignore_keydown" class="radiobutton" >Other</paper-radio-button><br>
                    </paper-radio-group>
                </div>
        </div>
   
    </div>

  </template>
  <script src="onboarding-timing-questions.js"></script>
</dom-module>
