<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">

<dom-module id="privacy-options">
  <template>
    <style>
      .card-content {
        font-size: 20px;
      }

    </style>    
    <div class="card-content"> Unstuck is a project from the Toyota Research Institute

    <!--
    <div class="card-content"> Home Sweet Office is a research project from the <a href="https://med.stanford.edu/pervasivewellbeingtech.html/" target="_blank" style="color: black; text-decoration: underline;">Stanford Pervasive Wellbeing Technology Lab</a>,
      and we need data to continue improving the app - <a href="https://github.com/PervasiveWellbeingTech/Home-Sweet-Office/wiki/Privacy" target="_blank"
        style="color: black; text-decoration: underline;">see what gets logged</a>.<br><br>
        
      <paper-checkbox checked="{{allow_logging}}">
        <span class="checkbox_span">Let Home Sweet Office send anonymized data to Stanford's servers</span>
      </paper-checkbox>
    -->
    </div>
  </template>
  <script src="privacy-options.js"></script>
</dom-module>
